.DS_Store
node_modules
deploy.js
compile.js

# Ignore flattened contracts
/flatten

# Ignore Research
/research

# Ignore references
/farm/reference
/vaults/reference
/vaults/future
/vaults/flattened

# Ignore sensitive contracts
/strategy
/libs
